{% extends "search/base.html" %}
{% block title%}
OSINT | SEARCH RESULTS
{%endblock%}
{% block content %}
{% load isinstance_tag %}
{% load any_tag %}
<table>
  {% for key, value in response.items %}
    {% if value|isinstance_tag:'dict' %}
    <tr>
      {% if value|any_tag:'check' %}               
        <th>{{ key.capitalize }}</th> 
        <td>    
        {% for sub_key, sub_value in value.items %}
          {% if sub_value %}
           {{ sub_key.capitalize }} :: {{ sub_value }}<br>
          {% endif %}  
        {% endfor %}
        </td>
    </tr>  
      {% endif %}

    {% else %}
      {% if value %} 
        <tr>
          <th>{{ key.capitalize }}</th> 
          <td>{{value}}</td>
        </tr>
         
      {% endif %}

    {% endif %}

  {% endfor %}
</table>   
{% endblock content %}
