{% extends "search/base.html" %}
{% block title%}
OSINT | SEARCH RESULTS
{%endblock%}
{% block content %}
{% load isinstance_tag %}
{% load any_tag %}

<table>
  {% for key,value in response.items%}
    <tr>
      <th>{{ key.capitalize }}</th>
      <td>
        {% if value|isinstance_tag:'dict' %}
          {% for k, v in value.items %}
            {% if v|isinstance_tag:'list'%}
            <br>
            {{k.upper}} --->
              {% if not v %}
                NA
                <br>
              {% else %}
                {% for element in v%}
                <br>
                  {% for sub_key, sub_value in element.items%}
                    {% if sub_value %}
                      {{sub_key.capitalize}}&nbsp; ::  &nbsp;{{sub_value}}
                      <br>
                    {% endif %}
                  {% endfor %}
                {% endfor%}
              {% endif %}
            {% else %}
              {% if v %}
                {{k.capitalize}}&nbsp; ::  &nbsp;{{v}}
                <br>
              {% endif %}
            {% endif %}
          {% endfor %}
        {% else %}
          {%  if value %}
            {{value}}
            <br>
          {% else %}
            NA
            <br>
          {% endif %}
        {% endif %}
      </td>
    </tr>
  {% endfor%}
</table>
{% endblock content %}
