{% extends "subscriptions/base.html" %}
{%load static%}
{% block css %}
<link rel="stylesheet" href="{% static 'styles/new.css' %}">
{% endblock%}
{% block content %}
          <link rel="stylesheet" href="{% static 'styles/new.css' %}">
          <p class="tagline" style="margin-bottom:100px">welcome to OSINT! <br> choose a subscription plan keep searching ;)</p>
          <div class="subscription-plan subscription-plan-1 selected" style="float:left;margin-left:-100px;box-shadow: 15px 20px 20px 5px black;">
            <div class="subscription-plan-content">
              <div class="content-header">
                <div class="pricing">
                  <h2><span class="price price1">0.00</span> INR</h2>
                    <p class="billing-frequency ng-binding">Free</p>
                </div>
              </div>
              <div class="desktop-pay-frequency" ng-if="showExtendedSelector">
                <div class="desktop-pay-frequency-item monthly" tabindex="0" style="padding-top:1px">
                  <h2 class="product-title"> Trial Search </h2>
                    <p class="ng-binding">0.00 INR </p>
                    <p class="product-desc ng-binding">Standard search options <br /><span class="bold">10 free searches</span></p>
                </div>
                <div class="desktop-pay-frequency-item yearly" tabindex="0">
                  <h2> PLAN </h2>
                    <p class="ng-binding" style="margin-top:10px"> limited searches available </p>
                    <p class="ng-binding"> access to limited search options </p>
                    <p class="ng-binding"> life-time validity </p>
                </div>
              </div><!-- END desktop-pay-frequency -->
              <a href="#" id="id_for_trial" class="start-trial-prod-action">
                <span class="btn btn1 start-trial action"> PICK TRIAL </span>
              </a>
            </div>
          </div><!-- END subscription-plan ******* PLAN 1 ********** -->


          <div class="subscription-plan subscription-plan-1 selected" style="float:right;margin-right:-100px;box-shadow:15px 20px 20px 5px black;">
            <div class="subscription-plan-content">
              <div class="content-header">
                <div class="pricing">
                  <h2><span class="price price1">199.00</span> INR</h2>
                    <p class="billing-frequency ng-binding">one-time payment</p>
                </div>
              </div>
              <div class="desktop-pay-frequency" ng-if="showExtendedSelector">
                <div class="desktop-pay-frequency-item monthly" tabindex="0" style="padding-top:1px">
                  <h2 class="product-title"> Basic Search </h2>
                    <p class="ng-binding">199.00 INR </p>
                    <p class="product-desc ng-binding"> Standard search options <br /><span class="bold">100 free searches</span></p>
                </div>
                <div class="desktop-pay-frequency-item yearly" tabindex="0">
                  <h2> PLAN </h2>
                    <p class="ng-binding" style="margin-top:10px"> 100 searches available </p>
                    <p class="ng-binding"> access to all search options </p>
                    <p class="ng-binding"> life-time validity </p>
                </div>
              </div><!-- END desktop-pay-frequency -->
              <a href="#" id="id_for_basic" class="start-trial-prod-action">
                <span class="btn btn1 start-trial action"> PICK BASIC </span>
              </a>
            </div>
          </div><!-- END subscription-plan ******* PLAN 2 ********** -->

          <div class="subscription-plan subscription-plan-1 selected" style="float:left;margin-left:-100px;margin-top:80px;margin-bottom:50px;box-shadow:15px 20px 20px 5px black;">
            <div class="subscription-plan-content">
              <div class="content-header">
                <div class="pricing">
                  <h2><span class="price price1">399.00</span> INR</h2>
                    <p class="billing-frequency ng-binding">one-time payment</p>
                </div>
              </div>
              <div class="desktop-pay-frequency" ng-if="showExtendedSelector">
                <div class="desktop-pay-frequency-item monthly" tabindex="0" style="padding-top:1px">
                  <h2 class="product-title"> Premium Search </h2>
                    <p class="ng-binding">399.00 INR </p>
                    <p class="product-desc ng-binding"> Advanced search options <br /><span class="bold">300 free searches</span></p>
                </div>
                <div class="desktop-pay-frequency-item yearly" tabindex="0">
                  <h2> PLAN </h2>
                    <p class="ng-binding" style="margin-top:10px"> 300 searches available </p>
                    <p class="ng-binding"> access to all search options </p>
                    <p class="ng-binding"> life-time validity </p>
                </div>
              </div><!-- END desktop-pay-frequency -->
              <a href="#" id="id_for_premium" class="start-trial-prod-action">
                <span class="btn btn1 start-trial action"> PICK PREMIUM </span>
              </a>
            </div>
          </div><!-- END subscription-plan ******* PLAN 3 ********** -->

          <div class="subscription-plan subscription-plan-1 selected" style="float:right;margin-right:-100px;margin-top:80px;margin-bottom:50px;box-shadow:15px 20px 20px 5px black;">
            <div class="subscription-plan-content">
              <div class="content-header">
                <div class="pricing">
                  <h2><span class="price price1">999.00</span> INR</h2>
                    <p class="billing-frequency ng-binding">one-time payment</p>
                </div>
              </div>
              <div class="desktop-pay-frequency" ng-if="showExtendedSelector">
                <div class="desktop-pay-frequency-item monthly" tabindex="0" style="padding-top:1px">
                  <h2 class="product-title"> Diamond Search </h2>
                    <p class="ng-binding">999.00 INR </p>
                    <p class="product-desc ng-binding"> Advanced search options <br /><span class="bold">900 free searches</span></p>
                </div>
                <div class="desktop-pay-frequency-item yearly" tabindex="0">
                  <h2> PLAN </h2>
                    <p class="ng-binding" style="margin-top:10px"> 900 searches available </p>
                    <p class="ng-binding"> access to all search options </p>
                    <p class="ng-binding"> life-time validity </p>
                </div>
              </div><!-- END desktop-pay-frequency -->
              <a href="#" id="id_for_diamond" class="start-trial-prod-action">
                <span class="btn btn1 start-trial action"> PICK DIAMOND </span>
              </a>
            </div>
          </div><!-- END subscription-plan ******* PLAN 4 ********** -->
    <!-- SCRIPT FOR RENDERING STRIPE CHECKOUT -->
    <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript">
      const trialButton = document.querySelector('#id_for_trial')
      const basicButton = document.querySelector('#id_for_basic')
      const premiumButton = document.querySelector('#id_for_premium')
      const diamondButton = document.querySelector('#id_for_diamond')

      trialButton.addEventListener('click', event => {
        fetch('/subscribe/trial/')
        .then((result) => {return result.json() })
        .then((data) => {
          var stripe = Stripe(data.strip_public_key);
          stripe.redirectToCheckout({
            sessionId: data.session_id
          }).then(function (result) {
          });
        })
      })

      basicButton.addEventListener('click', event => {
        fetch('/subscribe/basic/')
        .then((result) => {return result.json() })
        .then((data) => {
          var stripe = Stripe(data.strip_public_key);
          stripe.redirectToCheckout({
            sessionId: data.session_id
          }).then(function (result) {
          });
        })
      })

      premiumButton.addEventListener('click', event => {
        fetch('/subscribe/premium/')
        .then((result) => {return result.json() })
        .then((data) => {
          var stripe = Stripe(data.strip_public_key);
          stripe.redirectToCheckout({
            sessionId: data.session_id
          }).then(function (result) {
          });
        })
      })

      diamondButton.addEventListener('click', event => {
        fetch('/subscribe/diamond/')
        .then((result) => {return result.json() })
        .then((data) => {
          var stripe = Stripe(data.strip_public_key);
          stripe.redirectToCheckout({
            sessionId: data.session_id
          }).then(function (result) {
          });
        })
      })
    </script>

{% endblock %}
