{% extends "users/base.html" %}
{% block content %}

<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Password Reset</label>
<input id="tab-2" type="radio" name="tab" class="sign-up" ><label for="tab-2" class="tab"></label>

<div class="login-form">
<div class="sign-up-html">
	<br>
	<br>
	<form method="POST">
			{% csrf_token %}
			<fieldset>
						<div class="group">
							<label for="email" class="label" style="margin-bottom:20px"> Email </label>
							<input id="user" type="text" class="input" name="email" required="required" style="height:40px">
						</div>
			</fieldset>

			<div class="group">
					<button class="button" type="submit">Request Password Reset</button>
			</div>

<br>
			<div class="hr"></div>
			<br>
			<div class="foot-lnk">
				<a href="{%url 'login'%}"> Go Back </a>
				<br>
				<a href="{%url 'register'%}">New to OSINT? Register Now.</a>
			</div>


	</form>
</div>
</div>
{%endblock content%}
