{% extends "users/base.html" %}
{% block title%}
OSINT | RESET COMPLETE
{%endblock%}
{% block content %}

			<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Password Reset Completed</label>
			<input id="tab-2" type="radio" name="tab" class="sign-up" ><label for="tab-2" class="tab"></label>


    	<div class="login-form">
        <div class="sign-in-htm">
<br>
          <div class="group" style="font-size:40px">
            <label class="label" style="text-align: center"> You have successfully reset your password</label>
          </div>
					<div class="foot-lnk">
          	<a href="{%url 'login'%}">Sign In Now</a>
          </div>
			</div>
    </div>
{%endblock content%}
