{% extends "users/base.html" %}
{% block content %}

			<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Password Reset</label>
			<input id="tab-2" type="radio" name="tab" class="sign-up" ><label for="tab-2" class="tab"></label>


    	<div class="login-form">
        <div class="sign-in-htm">


        <form method="POST" action="{%url 'login'%}">
          {%csrf_token%}
					<div class="group">
            <br>
						<label class="label">Email</label>
						<input id="user" type="text" class="input" name="username" required="required">
					</div>
          <br>

          <div class="group">
            <button type="submit" class="button" >Reset Password</button>
          </div>


					<div class="hr"></div>
					<br>
					<div class="foot-lnk">
            <a href="{%url 'login'%}">GO Back to Sign In</a>
            <br>
						<br>
            <a href="{%url 'register'%}">New to OSINT? Register Now.</a>
          </div>


        </form>
			</div>





    </div>
{%endblock content%}
