{% extends "users/base.html" %}
{% block title%}
OSINT | RESET CONFIRM
{%endblock%}

{% block content %}

<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Password Reset</label>
<input id="tab-2" type="radio" name="tab" class="sign-up" ><label for="tab-2" class="tab"></label>

<div class="login-form">
<div class="sign-in-htm">
	<form method="POST">
			{% csrf_token %}
			<fieldset>

						<div class="group">
							<label for="new_password1" class="label" style="margin-bottom:20px"> New Password </label>
							<input class="input" type="password" id="new_password1" name="new_password1" value="">
						</div>
				<p style="color: red">{{ form.new_password1.errors }}</p>
						<div class="group">
							<label for="new_password2" class="label" style="margin-bottom:20px"> Confirm New Password </label>
							<input id="new_password2" type="password" class="input" name="new_password2" value="" style="height:40px">
						</div>
						<p style="color: red">{{ form.new_password1.errors }}</p>
			</fieldset>

			<div class="group">
					<button class="button" type="submit">Password Reset</button>
			</div>
			<br>

			<div class="hr"></div>
			<div class="foot-lnk">
				<a href="{%url 'login'%}"> Go Back </a>
				<br>
				<br>
				<a href="{%url 'register'%}">New to OSINT? Register Now.</a>
			</div>


	</form>

</div>
</div>
{%endblock content%}
